## Basic python programs

In [1]:
num1=int(input("enter the number 1:"))
num2=int(input("enter the the number 2:"))

sum=num1+num2
print("the sum of the two numbers is :",sum)

enter the number 1: 6
enter the the number 2: 7

the sum of the two numbers is : 13

In [2]:
num1=20
num2=30

temp=num1
num1=num2
num2=temp


print("after swapping the numbers:",num1)
print("after swapping the numbers:",num2)

after swapping the numbers: 30
after swapping the numbers: 20

In [3]:
a=10
b=20

a,b=b,a

print("after swapping:")
print("a is b:",a)
print("b is a:",b)

after swapping:
a is b: 20
b is a: 10

In [4]:
temprature1 = int(input("enter the temprature")) # temprature in degree celsius 

Fahrenite=(temprature1 * 9/5) + 32 # formula to convert the degree celsius into fahernite

print("the temprature in degree celsius converted into fahrenite is:",Fahrenite)

enter the temprature 67

the temprature in degree celsius converted into fahrenite is: 152.6

In [5]:
import math
r=int(input("enter the radius for the circle"))
pi=math.pi

area=pi*r**2

print("the area of the circle is:",area)

enter the radius for the circle 7

the area of the circle is: 153.93804002589985

In [6]:
my_dict={'1:','Ganesh','2:','Shiv','3:','Parvati'}
my_dict.clear()
print(my_dict)

set()

## conditional statement (if,elif,else)

In [7]:
num1=int(input("enter the num1:"))

if(num1<0):
    print("the number is negative:",num1)
elif(num1>0):
    print("the number is postive:",num1)
else:
    print("number is 0")

enter the num1: 8

the number is postive: 8

In [8]:
year = int(input("Enter a year: "))

if(year%4==0):
    print("it is a leap year")
else:
    print("it is  not a leap year")

Enter a year:  2005

it is  not a leap year

In [9]:
num1=float(input("enter the num1:"))
num2=float(input("enter num2:"))

print("choose operators:,-,/,%,,*")
operators=input("enter the operator ")

if (operators=='+'):
    print("addition :",num1+num2)

elif(operators=='-'):
    print("subtraction:",num1-num2)

elif(operators=='/'):
    print("division:",num1/num2)

elif(operators=='*'):
    print("multiplication:",num1*num2)

elif(operators=='%'):
    print("modulo:",num1%num2)


else:
    print("invalid operators")

enter the num1: 56
enter num2: 70

choose operators:,-,/,%,,*

enter the operator  *

multiplication: 3920.0

# loops ( for , while)

In [10]:
for i in range(1,101):
     print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
for i in range(0,51,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [12]:
num=int(input("enter the number:"))

for i in range(1,11):
    print("multiplication table for the number you have entered is:",num,"x",i, "=" ,num*i)

enter the number: 5

multiplication table for the number you have entered is: 5 x 1 = 5
multiplication table for the number you have entered is: 5 x 2 = 10
multiplication table for the number you have entered is: 5 x 3 = 15
multiplication table for the number you have entered is: 5 x 4 = 20
multiplication table for the number you have entered is: 5 x 5 = 25
multiplication table for the number you have entered is: 5 x 6 = 30
multiplication table for the number you have entered is: 5 x 7 = 35
multiplication table for the number you have entered is: 5 x 8 = 40
multiplication table for the number you have entered is: 5 x 9 = 45
multiplication table for the number you have entered is: 5 x 10 = 50

In [13]:
num=int(input("enter the number:"))

sum=0
for i in range(1,num+1):
    sum +=i
    print("the sum of first  n natural number:",sum)

enter the number: 5

the sum of first  n natural number: 1
the sum of first  n natural number: 3
the sum of first  n natural number: 6
the sum of first  n natural number: 10
the sum of first  n natural number: 15

In [14]:
n=int(input("enter the number"))

factorial=1

for i in range(1,n+1):
    factorial *=i
    print("the factorial of the number is:",factorial)

enter the number 4

the factorial of the number is: 1
the factorial of the number is: 2
the factorial of the number is: 6
the factorial of the number is: 24

In [15]:
word=input("enter the string:")

count=0
vowels="aeiouAEIOU"

for char in word:
    if char in vowels:
        count+=1
print("the number vowels in words are:",count)

enter the string: free

the number vowels in words are: 2

In [16]:
string=input("enter the string")

reverse=string[::-1]

if(string==reverse):
    print("it is a palindrome")
else:
    print("it is not a palindrome")

enter the string man

it is not a palindrome

## Lists and string

In [17]:
x=[23,45,67,89,77]
print(type(x))
print("the largest number in string:",max(x))

<class 'list'>
the largest number in string: 89

In [18]:
data="ThiS IS StriNg"

print("converted statement:")
print(data.upper())   # all letters in captial

print(data.lower())   #all letters in small 

print(data.title())   #all letters fiest word in capital

print(data.swapcase()) # swapping the text captial to dmall and vice-versa

print(data.capitalize()) # only first letter capital

print(data) # printing the original statement

converted statement:
THIS IS STRING
this is string
This Is String
tHIs is sTRInG
This is string
ThiS IS StriNg

## Functions And Recursion

In [19]:
def myfunction():
    x=100
    a=200
    print(x)
    print(a)
    print(x+a)
myfunction()

100
200
300

In [ ]:
x=100
def myfunction():
    a=200
    b=500
    print(x)
    print(a)
    print(b)
    print(x+a)
    print(x+b)
    print(a+b)
myfunction()

In [ ]:
z=100

def myfunction():
    a=900
    print(a+z)

    def myfunction2():
        b=200
        print(z+a)
        print(b+a)
        print(z+b)

    myfunction2()

myfunction()

In [ ]:
def myfunction(a,b,c):
    sum=a+b+c
    avg=sum/3
    print(sum)
    print(avg)
    
myfunction(1,4,5)

In [ ]:
def myfunction(a,d,c):
    return a+d+c
    return a+d+c/3
sum=myfunction(1,2,3)
avg=myfunction(1,2,3/3)
    
print(sum)
print(avg)

In [ ]:
def cal_sum(a,b):
    return a+b
sum=cal_sum(1,2)
print(sum)

In [ ]:
numbers=[1,2,4,5,6,7,8]
names=['a','b','c','d','e']
def myfun(list):
    print(len(list))
   
myfun(numbers)
myfun(names)

In [ ]:
numbers=[1,2,4,5,6,7,8]
names=['a','b','c','d','e']

def myfun(list):
    for numbers in list:
        print(numbers,end=" ")
myfun(numbers)
myfun(names)

In [ ]:
def factorial_number(n):
    factorial=1
    for i in range(1,n+1):
        factorial *=i
        print(factorial)
factorial_number(6)

In [ ]:
def converter(usd_value):
    ind_value=usd_value*83
    print(usd_value,"usd=",ind_value,"inr")
converter(73)

In [ ]:
number=int(input("enter the number"))

def myfun(number):
    if(number%2==0):
       print("even")
    else:
        print("odd")
myfun(number)

In [ ]:
def details(Name,Sname,Roll_no,Rank):
    print('Name:',Name)
    print('Surname:',Sname)
    print('Roll.No',Roll_no)
    print('Rank:',Rank)

details('Samruddhi','Bhagwat',92,5)
deatils('

## File programming

In [ ]:
with open("C:\\Users\\HP\\OneDrive\\Documents\\file.txt", "w") as f:
    f.write("Hi everyone\nwe are learning file i/o\nusing java\ni like programming in java")

In [ ]:
with open("C:\\Users\\HP\\OneDrive\\Documents\\file.txt","r") as f:
       data= f.read()
new_data=data.replace("java","python")
print(new_data)

with open("C:\\Users\\HP\\OneDrive\\Documents\\file.txt",'w') as f:
    f.write(new_data)

In [ ]:
word="learning"
with open("C:\\Users\\HP\\OneDrive\\Documents\\file.txt","r") as f:
    data= f.read()
    if(data.find(word)!=-1):
        print("found")
    else:
        print("not found")

## Object oreinted programming

In [27]:
class Student:
    name = "Samruddhi Bhagwat"

s1=Student()
print(s1.name)

#s2=Student()
#print(s2.name)

Samruddhi Bhagwat

In [25]:
class Student:
    
     def __init__(self,name,marks):
        self.name=name
        self.marks=marks
s1=Student("samruddhi",98)
print(s1.name)
print(s1.marks)

s2=Student("Sarthak",89)
print(s2.name)
print(s2.marks)

samruddhi
98
Sarthak
89

In [30]:
class Student:
    college_name="Sppu"  # Class Attribute
  
    print("college name is :", Student.college_name)
    
    def __init__(self,name,marks):
        self.name=name    # Object Attribute 
        self.marks=marks
s1=Student("samruddhi",98)
print(s1.name)
print(s1.marks)

s2=Student("Sarthak",89)
print(s2.name)
print(s2.marks)

samruddhi
98
Sarthak
89